.footer {
  display: flex;
  justify-content: center;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding-top: 88px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    line-height: 14px;
  }
}
