.footer {
  display: flex;
  justify-content: center;
  margin-top: 90px;
}

.footer__copyright {
  font-weight: 400;
  font-size: 14px;
  font-size: 14px;
  line-height: 16px;
  align-items: center;
  margin: 0 0 25px;
}

@media screen and (max-width: 1024px) {
  .footer {
    margin-top: 88px;
  }
}

@media screen and (max-width: 540px) {
  .footer {
    margin-top: 65px;
    line-height: 14px;
  }
}
